{% extends "base" %}
{% block title %}Apps | School Things{% endblock title %}
{% block description %}Apps{% endblock description %}
{% block canonical_path %}/apps{% endblock canonical_path %}
{% block content %}
    <h1>Apps</h1>
    {% if user %}
    <a href="/apps/create">Create Your Own!</a>
    {% endif %}
{% endblock content %}