<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}"/>
        <link rel="canonical" href="{{ domain }}{% block canonical_path %}{% endblock canonical_path %}"/>
        <style>
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: x-large;
                margin: 0;
            }
            a {
                color: blue;
                text-decoration: none;
            }
            .error {
                color: red;
                font-size: medium;
            }
        </style>
        {% endblock head %}
    </head>
    <body>
        {% include "nav" %}
        <div id="content">{% block content %}{% endblock content %}</div>
        <div id="footer">
            {% block footer %}
            
            {% endblock footer %}
        </div>
    </body>
</html>